@import url('https://fonts.googleapis.com/css2?family=Epilogue:wght@400;800&display=swap');
*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

:root{
    font-size: 62.5%;
}
body{
    background-color: #28293E;
    color: white;
}
.page{
    max-width: 32rem;
    margin: 0 auto;
    margin-bottom: 10rem;
}

header{
    text-align: center;
    margin-top: 10rem;
    margin-bottom: 8rem;
    animation: topdown 700ms;
}

h2{
    font-family: 'Epilogue';
    font-style: normal;
    font-weight: 400;
    font-size: 1.6rem;
    line-height: 3.2rem;


    letter-spacing: .3rem;
 


    color: #BBB3E6;
    margin-bottom: 1.7rem;
}

h1{
    font-family: 'Epilogue';
    font-style: normal;
    font-weight: 800;
    font-size: 4rem;
    line-height: 4.8rem;

}
main{
    display: grid;
    gap:3rem;
    animation: downtop 700ms 350ms backwards;
}
.card{
    position: relative;
    transition: all 200ms;
    filter: brightness(0.8) saturate(1.5);
    
}
.card:hover{
    transform: scale(1.1);
    filter: brightness(1);
    
    
}

img{
    width: 100%;
    height: auto;
    height: 41.6rem;
    object-fit: cover;
    border-radius: 19px;
   
}

span{
    background: #FFFFFF;
    border-radius: 19px;
    color: #090039;
    padding: 0 1.6rem;
    
    font-family: 'Epilogue';
    font-style: normal;
    font-weight: 400;
    font-size: 1.6rem;
    line-height: 3.2rem;
    width: fit-content;
}

p{
    position: absolute;
    bottom: 5rem;
    left: 2.8rem;
    font-family: 'Epilogue';
    font-style: normal;
    font-weight: 800;
    font-size: 3.1rem;
    line-height: 4.8rem;
    display: grid;
    gap: 2rem;
}

@media (min-width: 700px) {
    .page{
        max-width: 117rem;
    }
    main{
        display: grid;
        grid-template-areas:
        "A B "
        "C D";
    }
    main div:nth-child(1){
        grid-area: A;
    }
    
    main div:nth-child(2){
        grid-area: B;
    }

    main div:nth-child(3){
        grid-area: C;
    }

    main div:nth-child(4){
        grid-area: D;
    }

    .card{
      
        width: 100%;
        
    }
}
@media (min-width: 930px) {
    main{
        display: grid;
        grid-template-areas:
        "A B B B"
        "C C D D";
    }
    main div:nth-child(1){
        grid-area: A;
    }
    
    main div:nth-child(2){
        grid-area: B;
    }

    main div:nth-child(3){
        grid-area: C;
    }

    main div:nth-child(4){
        grid-area: D;
    }

    .card{
      
        width: 100%;
        
    }
}


@keyframes topdown {
    0% {
        opacity: 0;
        transform: translateY(-15px);
    }

    100% {
        opacity: 1;
        transform: translateY(0);
    }
}

@keyframes downtop {
    0% {
        opacity: 0;
        transform: translateY(15px);
    }

    100% {
        opacity: 1;
        transform: translateY(0);
    }
}